<form id="formsearch">
	<input type="hidden" name="search_element" id="search_element" value=""/> 
	<input type="hidden" name="funcscreen_id"  value="<%= @funcscreen_id %>"/>  
	<input type="hidden" name="version_id"  value="<%= @version_id %>"/>  
	<input type="hidden" name="nw"  value="1"/>  
	<input type="hidden" name="popup" value="<%= @popup %>"/>
</form>