<div id="content"  <% if @popup != nil and @popup.to_s == 'true' %> style="height: 100%;" <%end%>>
	<%= render :partial => 'users/list' %>
	<div id="right">
		<%= render :partial => 'users/add' %>
		<%= render :partial => 'users/detail' %>
	</div>
</div>
