<tr bgcolor='grey'>
  <td colspan=3><textarea name="fic_resume" cols="100" rows="5" disabled class="inputbox"><%= t('ecr_type_fiche.resume') %></textarea></td>
</tr>

<tr bgcolor='grey'>
  <td colspan=3><textarea name="fic_commentaire" cols="100" rows="5" disabled class="inputbox"><%= t('ecr_type_fiche.commentaires') %></textarea></td>
</tr>