<br>
<br>
<!-- bloc insertion code if, while... -->
<button class="circlegreen" onclick="addPassToCode();" title="insert PASS report">P</button>
<button class="circlered" onclick="addFailToCode();" title="insert FAIL report">F</button>
<button class="circlegrey" onclick="addLogToCode();" title="insert LOG report">L</button>
<button class="buttonblue" onclick="addCommentToCode();">comment</button>
<button class="buttonblue" onclick="addIfToCode();">if</button>
<button class="buttonblue" onclick="addWhileToCode();">while</button>
<button class="buttonblue" onclick="addUntilToCode();">until</button>
<button class="buttonblue" onclick="addForToCode();">for</button>
<button class="buttonblue" onclick="addForEachToCode();">for each</button>
<button class="btnphotobig" onclick="addPrisePhoto('<%= t('nom') %>');" title='<%= t('ecr_procedure.prendre_une_photo')%> '></button>