

<div id="content"  <% if @popup != nil and @popup.to_s == 'true' %> style="height: 100%;" <%end%>>

<%= render :partial => 'releases/list' %>

<%= render :partial => 'releases/edit' %>


</div> 





