<div class="btnnotif" style="margin-left:25%" onclick="shownotification();"></div>
<div id="notification" style="display:none;" >
	<div id="contentnotification" >
	</div>
	<button class="closePopup" onclick="document.getElementById('notification').style.display='none';">X</button>
</div>
